<%= render :partial => "user_bar" %>
<h1>Edit a forum</h1>
<% form_for @forum, :url => forum_path(@forum), :html => { :method => :put } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit "Update" %>
<% end %>