<%= render :partial => "user_bar" %>
<h1>Create a forum</h1>
<% form_for @forum, :url => forums_path do |f| %>
  <%= render :partial => "form", :locals => { :f => f }%>
  <%= f.submit "Create" %>
<% end %>