<p>This is index page</p>
<p><%= link_to("hello", :controller => "welcome", :action => "hello") %></p>
<p><%= link_to("weather", :controller => "welcome", :action => "weather") %></p>
<p><%= link_to("who", :controller => "welcome", :action => "who") %></p>
<p><%= link_to("son", :controller => "welcome", :action => "son") %></p>